@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display&family=Borel&display=swap');

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

body {
    background-color: #f8eee9;
}

/* DÉBUT header */

header {
    display: flex;
    background-color: #22223b;
    padding :0.5rem ; 
    margin: 0;
}

nav {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-end;
    border-spacing: 10px;
}

nav a {
    text-decoration: none;
    color: white;
    margin: 0 0.5rem 0 0.5rem;
}

.headerbottom:hover {
    border-bottom: 1px white solid;
}

/* DÉBUT Logo */

.text-container {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 0 0 30px;
}

.text-container a {
    text-decoration: none;
    color: white;
    font-family: "Borel";
    display: flex;
    align-items: center;
}

.text-container i {
    font-size: 2em;
}

.text-container p {
    font-size: 1.2em;
    font-family: "Borel";
    padding: 0.5em 0 0 0;
}

.text-initial {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    
}

.text-hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5em;
    opacity: 0;
    font-weight: bold;
}

.text-container:hover .text-initial {
    opacity: 0;
}

.text-container:hover .text-hover {
    opacity: 1;
    
}

/* FIN Logo */

/* DÉBUT Account */

.text-container2 {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 2em;
}

.text-container2 a {
    text-decoration: none;
    color: white;
    font-family: "Borel";
    display: flex;
    align-items: center;
}

.text-container2 i {
    font-size: 1em;
}

.text-container2 p {
    font-size: 1.2em;
    font-family: "Borel";
}

.text-container2:hover .text-initial {
    opacity: 0;
}

.text-container2:hover .text-hover {
    opacity: 1;
    
}

/* FIN header */

/* DÉBUT detailsAlbum */

.collection_card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    background-color: #c9ada7;
    padding: 10px 20px 20px 20px;
    margin: 0px 7rem 50px 7rem;
    border-radius: 15px;
    max-width: 650px;
}

.titre_album {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
    font-family: 'League Spartan';
    color: #22223b;
    margin-bottom: 50px;
    margin-top: 50px;
}

.card h2 {
    color: white;
    font-size: 2rem;
    margin: 10px 0 15px 0;
}

.card img {
    border-radius: 7px;
    width: 100%;
    max-width: 650px;
}

.tag {
    color: white;
    font-style: italic;
    text-decoration: none;
}

.tag:hover {
    font-weight: bold;
}

/* DÉBUT Tri */

/* Bouton rond */

.circle-button {
    position: relative;
    width: 120px;
    height: 40px;
    background-color: #ffffff;
    border: #22223b 2.5px solid;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #22223b;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    right: 1em;
    top: 1em;
}

.tri {
    display: flex;
    justify-content: flex-end;
    margin: 0 1em;
}

.circle-button.expanded {
    width: 150px;
    height: 150px;
    border-radius: 15px;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
}

.radio-list {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    align-items:center;
    justify-content: center;
    margin: 20px 0 20px 0;
}

.circle-button.expanded .radio-list {
    display: flex;
    top:40%;
}

.radio-item #soumettre {
    margin: 10px 0;
}

.radio-list input {
    margin: 10px;
}

/* Par défaut, le + est visible */
.plus-sign {
    display: block;
    transition: opacity 0.3s ease-in-out;
}

/* Cache le + quand le menu est étendu */
.circle-button.expanded .plus-sign {
    opacity: 0;
}

/* FIN Tri */

/* FIN detailsAlbum */

/* DÉBUT Album */

.card_album {
    display: flex;
    background-color: #c9ada7;
    padding: 30px;
    margin: 50px 20px;
    border-radius: 15px;
    width: 30%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    height: 3em;
}

.card_album:hover {
    display: flex;
    background-color: white;
    padding: 30px;
    margin: 50px 20px;
    border-radius: 15px;
    width: 30%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #c9ada7;
    height: 3em;
}

.wrap {
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

/* DÉBUT Register */

.register {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25em;
    flex-direction: column;
}

#titre_register {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
    font-family: 'League Spartan';
    color: #22223b;
    margin-bottom: 50px;
    margin-top: 50px;
}

.register input {
    border: #c9ada7 2px solid;
    height: 4em;
    width: 25em;
    margin: 10px auto;
    border-radius: 10px;
    padding: 6px;
}

.register input:focus {
    border: #c9ada7 5px solid;
   width: 24.2em;
}

.register input[type="submit"] {
    display: flex;
    text-align: center;
    width: 70%;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.register input[type="submit"]:hover {
    background-color: #c9ada7;
    color: white;
}

.register a {
    text-decoration: none;
}

.register a:hover {
    border-bottom: 1px blue solid;
}

/* FIN Register */

/* DÉBUT Login */

.login input {
    display: flex;
    justify-content: center;
    border: #c9ada7 2px solid;
    height: 4em;
    width: 25em;
    margin: 10px auto;
    border-radius: 10px;
    padding: 6px;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25em;
    flex-direction: column;
}

#titre_login {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
    font-family: 'League Spartan';
    color: #22223b;
    margin-bottom: 50px;
    margin-top: 50px;
}

.login input[type="submit"] {
    display: flex;
    text-align: center;
    width: 70%;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.login input[type="submit"]:hover {
    background-color: #c9ada7;
    color: white;
}

.remember {
    display: flex;
    justify-content: center;
    align-items: center;
}

.remember input{
    width: fit-content ;
    margin: 0;
}

input[type="checkbox"]{
    margin: 5px;
}

/* FIN Login */
