* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f2e9e4;
}

/* DÉBUT header */

header {
    display: flex;
    background-color: #22223b;
    padding :2rem ;   
}

nav {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-end;
    border-spacing: 10px;
}

nav a {
    text-decoration: none;
    color: white;
    margin: 0 0.5rem 0 0.5rem;
}

nav a:hover {
    border-bottom: 1px white solid;
}

/* DÉBUT Logo */

.text-container {
    position: relative;
}

.text-container a {
    text-decoration: none;
    color: white;
}

.text-initial {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 2em;
    font-weight: bold;
}

.text-hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2em;
    opacity: 0;
}

.text-container:hover .text-initial {
    opacity: 0;
}

.text-container:hover .text-hover {
    opacity: 1;
}

/* FIN Logo */

/* FIN header */

/* DÉBUT Album */

.card {
    background-color: #c9ada7;
    padding: 10px 20px 20px 20px;
    margin: 0px 10px 50px 10px;
    border-radius: 15px;
}

.titre_album {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.card h2 {
    color: white;
    font-size: 2rem;
    margin: 10px;
}

.card img {
    border-radius: 7px;
    width: 100%;
}

/* DÉBUT Tri */

/* Bouton rond */
.circle-button {
    position: relative;
    width: 120px;
    height: 40px;
    background-color: #ffffff;
    border: #22223b 2.5px solid;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #22223b;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

/* Liste cachée par défaut */

.tri {
    display: flex;
    justify-content: flex-end;
    margin: 0 1em;
}

.circle-button.expanded {
    width: 150px;
    height: 100px;
    border-radius: 15px;
    background-color: #ffffff;
}

.radio-list {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

.circle-button.expanded .radio-list {
    display: flex;
}

.radio-item {
    margin: 10px 0;
}

/* Par défaut, le + est visible */
.plus-sign {
    display: block;
    transition: opacity 0.3s ease-in-out;
}

/* Cache le + quand le menu est étendu */
.circle-button.expanded .plus-sign {
    opacity: 0;
}

/* FIN Tri */

